<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative Geeks from Paris</title>
<style>

*
{
  
  box-sizing:border-box;
 
}

body
{
  font-family:sans-serif;
  padding: 0px 10px;
  z-index: 0;
  color:white;
  background-color:blue;
    
 }

nav {
  display: block;
}

#line{
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  margin-left: 0em;
  margin-right: 0em;
  width:100%;
  border:0.1px #ADD8E6;
  height:0.1px;
}

.nav-container {
  display: grid;
  grid-template-columns: 4% 6% 20% 15% 15% 15% 20%;
  }

.nav_item1 {
  grid-column: 1 / span 1;
  text-align: left;
  padding-top:20px;
  font-size:20px;
  color:white;
    
}
.nav_item2 {
  grid-column: 2 / span 1;
  text-align: right;
  padding-top:10px;
  
}
.nav_item3 {
  grid-column: 3 / span 1;
  padding-top:20px;
  padding-left:8px;
  font-size: 20px;
  text-align: left;
  
}
.nav_item4 {
  grid-column: 4 / span 1;
  padding-top:25px;
  font-size: 15px;
  text-align: center;
  
}
.nav_item5 {
  grid-column: 5 / span 1;
  font-size: 15px;
  padding-top:25px;
  text-align: center;
  
}
.nav_item6 {
  grid-column: 6 / span 1;
  padding-top:25px;
  font-size: 15px;
  text-align: center;
  
}
.nav_item7 {
  grid-column: 7 / span 1;
  padding-top:0px;
  text-align: right;
  
}
a {
    text-decoration: none !important;
    color:white;
}
.button1 {
  border: none;
  color: black;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px;
  cursor: pointer;
  background-color: #FFCC00;/* Hex web color */
}

.grid-container1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 50% 25%;
  grid-column-gap: 20px;
  
  }

.grid1_item1 {
  grid-column: 1 / span 1;
  grid-row:1;
  padding-top:0px;
  font-size: 65px;
  text-align: left;
  
}
.grid1_item2 {
  grid-column: 2 / span 1;
  grid-row:1;
  padding-top:48px;
  font-size: 28px;
  text-align: left;
  
}
.grid1_item3 {
  grid-column: 1 / span 2;
  grid-row:2;
  padding-top:50px;
        
}
figure{
  float:left;
  text-align:left;
  margin:0em;
  padding:0em;
}
img{
  width:100%;
  height:auto;
}
figcaption {
  color: white;
  font-size:10px;
  padding-top: 10px;
  padding-bottom:0px;
  text-align: left;
}
.grid1_item4 {
  grid-column: 1 / span 1;
  grid-row:3;
  padding-top:50px;
  text-align: left;
  font-size: 28px;
}
.grid1_item5 {
  grid-column: 2 / span 1;
  grid-row:3;
  padding-top:50px;
  text-align: left;
  font-size: 28px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 5px;
  }

.grid2_item1 {
  grid-column: 1 / span 4;
  grid-row:1;
  padding-top:100px;
  text-align: left;
  font-size: 12px;
  
}
.grid2_item2 {
  grid-column: 1 / span 1;
  grid-row:2;
  padding-top:30px;
  text-align: left;
    
}

input[type=text] {
  background-color: blue;
  font-size: 20px;
  width: 400px;
  padding: 14px;
  text-align: left;
  display: inline-block;
  border: 1px solid #A9A9;
  box-sizing: border-box;
}

.grid2_item3 {
  grid-column: 2 / span 1;
  grid-row:2;
  padding-top:30px;
  padding-left:100px;
  text-align: left;
    
}
.button2 {
  
  color: white;
  width: 180px;
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px;
  cursor: pointer;
  background-color: blue;
  border: 1px solid #A9A9A9;
  box-sizing: border-box;
}
.button3 {
  
  color: white;
  width: 290px;
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px;
  cursor: pointer;
  background-color: blue;
  border: 1px solid #A9A9A9;
  box-sizing: border-box;
}
.grid2_item4 {
  grid-column: 3 / span 1;
  grid-row:2;
  padding-top:30px;
  padding-left:10px;
  text-align: left;
    
}

.grid2_item5 {
  grid-column: 4 / span 1;
  grid-row:2;
  padding-top:30px;
  padding-left:0px;
  text-align: left;
    
}

.grid-container3 {
  display: grid;
  grid-template-columns: 6% 20% 45% 25% 4%;
  
  }
.grid3_item1 {
  grid-column: 1 / span 1;
  text-align: right;
  padding-top:70px;
    
}
.grid3_item2 {
  grid-column: 2 / span 1;
  text-align: left;
  padding-top:80px;
  padding-left:8px;
  font-size:18px;
  
}
.grid3_item3 {
  grid-column: 3 / span 1;
  text-align: center;
  padding-top:82px;
  padding-left:30px;
  font-size:14px;
  
}
.grid3_item4 {
  grid-column: 4 / span 1;
  text-align: center;
  padding-top:82px;
  padding-left:170px;
  font-size:15px;
  color:white;
  
}


</style>
    </head>
